Repository urlscan/urlscan-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tidy, docs, test

lint:
  run: golangci-lint run --fix
  stage_fixed: true

tidy:
  run: go mod tidy
  stage_fixed: true

docs:
  run: 'rm docs/urlscan*.md
  
    go run docutil/main.go
  
    '
  stage_fixed: true

test:
  run: go test ./...

fix: use proper HTTP method
  api/search.go
  cmd/pro/incident/copy.go
  cmd/pro/incident/fork.go
Due: lint, tidy, docs, test

fix: set observable field
  cmd/pro/incident/common.go
Due: lint, tidy, docs, test

feat: add channel sub-command
  api/channel.go
  cmd/pro/channel/common.go
  cmd/pro/channel/create.go
  cmd/pro/channel/get.go
  cmd/pro/channel/list.go
  cmd/pro/channel/root.go
  cmd/pro/channel/update.go
  cmd/pro/root.go
  docs/urlscan_pro.md
  docs/urlscan_pro_channel.md
  docs/urlscan_pro_channel_create.md
  docs/urlscan_pro_channel_get.md
  docs/urlscan_pro_channel_list.md
  docs/urlscan_pro_channel_update.md
  test/pro/channel.bats
Due: lint, tidy, docs, test

Fix Bats errors (#90)
  test/pro/hostname.bats
  test/search.bats
Due: none

Expand Bats coverage (#91)
  api/search.go
  cmd/pro/incident/common.go
  cmd/pro/incident/copy.go
  cmd/pro/incident/fork.go
  test/pro/brand.bats
  test/pro/file.bats
  test/pro/incident.bats
  test/pro/livescan.bats
  test/pro/saved_search.bats
  test/pro/structure_search.bats
  test/pro/subscription.bats
Due: lint, tidy, docs, test

Update cmd/pro/channel/common.go
  cmd/pro/channel/common.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_channel_create.md
  docs/urlscan_pro_channel_update.md
Due: none

Update api/channel.go
  api/channel.go
Due: lint, tidy, test

refactor: update usages
  cmd/pro/channel/common.go
  docs/urlscan_pro_channel_create.md
  docs/urlscan_pro_channel_update.md
Due: lint, tidy, docs, test

refactor: do validation in newChannelOptions func
  api/channel.go
Due: lint, tidy, test

feat: add channel sub-command (#92)
  api/channel.go
  cmd/pro/channel/common.go
  cmd/pro/channel/create.go
  cmd/pro/channel/get.go
  cmd/pro/channel/list.go
  cmd/pro/channel/root.go
  cmd/pro/channel/update.go
  cmd/pro/root.go
  docs/urlscan_pro.md
  docs/urlscan_pro_channel.md
  docs/urlscan_pro_channel_create.md
  docs/urlscan_pro_channel_get.md
  docs/urlscan_pro_channel_list.md
  docs/urlscan_pro_channel_update.md
  test/pro/channel.bats
Due: lint, tidy, docs, test

refactor: do validation in API side & add tests
  api/channel.go
  api/channel_test.go
  api/incident.go
  api/incident_test.go
  api/subscription.go
  api/subscription_test.go
  cmd/pro/channel/common.go
Due: lint, tidy, docs, test

refactor: do validation in API side & add tests (#93)
  api/channel.go
  api/channel_test.go
  api/incident.go
  api/incident_test.go
  api/subscription.go
  api/subscription_test.go
  cmd/pro/channel/common.go
Due: lint, tidy, docs, test

docs: add a note about WinGet pacakge
  README.md
Due: none

Update README.md
  README.md
Due: none

docs: update the message
  README.md
Due: none

docs: add a note about WinGet pacakge (#94)
  README.md
Due: none

chore: update go dependencies
  go.mod
  go.sum
Due: tidy

fix: drop _id from saved search & subscription
  api/search.go
  api/subscription.go
  api/subscription_test.go
  cmd/pro/search/create.go
  cmd/pro/search/update.go
  cmd/pro/subscription/create.go
  cmd/pro/subscription/update.go
  go.mod
  go.sum
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_saved-search_create.md
  docs/urlscan_pro_subscription_create.md
Due: none

fix: update GoReleaser config
  .goreleaser.yaml
Due: none

chore: ping GoReleaser version
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

fix: handle --force option correctly
  pkg/utils/client.go
Due: lint, tidy, test

test: add tests
  pkg/utils/client_test.go
Due: lint, tidy, test

feat: support datadump API
  cmd/pro/datadump/download.go
  cmd/pro/datadump/list.go
  cmd/pro/datadump/root.go
  cmd/pro/root.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro.md
  docs/urlscan_pro_datadump.md
  docs/urlscan_pro_datadump_download.md
  docs/urlscan_pro_datadump_list.md
Due: none

test: add bats test
  test/pro/datadump.bats
Due: none

fix: use scope instead of source
  test/quotas.bats
Due: none

fix: update GoReleaser config (#97)
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

Drop _id from saved search & subscription creation (#96)
  api/search.go
  api/subscription.go
  api/subscription_test.go
  cmd/pro/search/create.go
  cmd/pro/search/update.go
  cmd/pro/subscription/create.go
  cmd/pro/subscription/update.go
  docs/urlscan_pro_saved-search_create.md
  docs/urlscan_pro_subscription_create.md
  go.mod
  go.sum
Due: lint, tidy, docs, test

fix: use scope instead of source (#100)
  test/quotas.bats
Due: none

refactor: make error message friendly
  pkg/utils/client.go
Due: lint, tidy, test

Fix --force option handling issue (#98)
  pkg/utils/client.go
  pkg/utils/client_test.go
Due: lint, tidy, test

chore: update go dependencies (#95)
  go.mod
  go.sum
Due: tidy

refactor: use path directly in the list cmd
  cmd/pro/datadump/list.go
  docs/urlscan_pro_datadump_list.md
Due: lint, tidy, docs, test

Path conditions:
  lint: any of: *.go
  tidy: any of: {*.go,go.mod}
  docs: any of: cmd/*.go
  test: any of: *.go
