Repository urlscan/urlscan-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tidy, docs, test

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.go"
      run: golangci-lint run --fix
      stage_fixed: true
    tidy:
      glob: "{*.go,go.mod}"
      run: go mod tidy
      stage_fixed: true
    docs:
      glob: "cmd/*.go"
      run: |
        rm docs/urlscan*.md
        go run docutil/main.go
      stage_fixed: true
    test:
      glob: "*.go"
      run: go test ./...

refactor: do manual args check
  cmd/key.go
  cmd/quotas.go
  cmd/scan/dom.go
  cmd/scan/result.go
  cmd/scan/screenshot.go
  cmd/scan/submit.go
  cmd/search.go
  cmd/version.go
Due: lint, tidy, docs, test

fix: improve keyring error handling
  cmd/key.go
  pkg/utils/keyring.go
Due: lint, tidy, docs, test

refactor: shorten the func name
  cmd/key.go
  pkg/utils/keyring.go
Due: lint, tidy, docs, test

refactor: run tests on pre-push
  lefthook.yml
Due: none

feat: file command
  cmd/pro/file.go
  docs/urlscan_pro.md
  docs/urlscan_pro_file.md
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro.md
  docs/urlscan_pro_user.md
Due: none

Fix merge conflict errors (#48)
  cmd/key.go
  cmd/pro/file.go
  cmd/quotas.go
  cmd/scan/dom.go
  cmd/scan/result.go
  cmd/scan/screenshot.go
  cmd/scan/submit.go
  cmd/search.go
  cmd/version.go
  docs/urlscan_pro.md
  docs/urlscan_pro_file.md
  docs/urlscan_pro_user.md
  lefthook.yml
  pkg/utils/keyring.go
Due: lint, tidy, docs, test

feat: validate primary keys (IDs)
  cmd/pro/incident/close.go
  cmd/pro/incident/copy.go
  cmd/pro/incident/fork.go
  cmd/pro/incident/get.go
  cmd/pro/incident/restart.go
  cmd/pro/incident/states.go
  cmd/pro/incident/update.go
  cmd/pro/livescan/dom.go
  cmd/pro/livescan/purge.go
  cmd/pro/livescan/result.go
  cmd/pro/livescan/store.go
  cmd/pro/search/create.go
  cmd/pro/search/delete.go
  cmd/pro/search/get.go
  cmd/pro/search/update.go
  cmd/pro/subscription/create.go
  cmd/pro/subscription/delete.go
  cmd/pro/subscription/search.go
  cmd/pro/subscription/update.go
  cmd/scan/dom.go
  cmd/scan/result.go
  cmd/scan/screenshot.go
  pkg/utils/validator.go
  pkg/utils/validator_test.go
Due: lint, tidy, docs, test

Use regexp validation
  pkg/utils/validator.go
Due: lint, tidy, test

Compile regex outside of function, reduce duplicate code
  pkg/utils/validator.go
Due: lint, tidy, test

feat: validate primary keys (IDs) (#49)
  cmd/pro/incident/close.go
  cmd/pro/incident/copy.go
  cmd/pro/incident/fork.go
  cmd/pro/incident/get.go
  cmd/pro/incident/restart.go
  cmd/pro/incident/states.go
  cmd/pro/incident/update.go
  cmd/pro/livescan/dom.go
  cmd/pro/livescan/purge.go
  cmd/pro/livescan/result.go
  cmd/pro/livescan/store.go
  cmd/pro/search/create.go
  cmd/pro/search/delete.go
  cmd/pro/search/get.go
  cmd/pro/search/update.go
  cmd/pro/subscription/create.go
  cmd/pro/subscription/delete.go
  cmd/pro/subscription/search.go
  cmd/pro/subscription/update.go
  cmd/scan/dom.go
  cmd/scan/result.go
  cmd/scan/screenshot.go
  pkg/utils/validator.go
  pkg/utils/validator_test.go
Due: lint, tidy, docs, test

Update docs/urlscan_pro_hostname.md
  docs/urlscan_pro_hostname.md
Due: none

docs: sync docs
  docs/urlscan_pro_hostname.md
Due: none

refactor: use --all
  api/hostname_iterator.go
  api/iterator.go
  cmd/flags/common.go
  cmd/pro/hostname.go
  cmd/pro/structure_search.go
  cmd/search.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_hostname.md
  docs/urlscan_pro_structure-search.md
  docs/urlscan_search.md
Due: none

feat: pretty-json by default
  api/client.go
  api/scan.go
  cmd/pro/brand/available.go
  cmd/pro/brand/list.go
  cmd/pro/hostname.go
  cmd/pro/incident/close.go
  cmd/pro/incident/copy.go
  cmd/pro/incident/create.go
  cmd/pro/incident/fork.go
  cmd/pro/incident/get.go
  cmd/pro/incident/restart.go
  cmd/pro/incident/states.go
  cmd/pro/incident/update.go
  cmd/pro/livescan/purge.go
  cmd/pro/livescan/result.go
  cmd/pro/livescan/scan.go
  cmd/pro/livescan/scanners.go
  cmd/pro/livescan/store.go
  cmd/pro/search/create.go
  cmd/pro/search/delete.go
  cmd/pro/search/get.go
  cmd/pro/search/list.go
  cmd/pro/search/update.go
  cmd/pro/structure_search.go
  cmd/pro/subscription/create.go
  cmd/pro/subscription/delete.go
  cmd/pro/subscription/list.go
  cmd/pro/subscription/search.go
  cmd/pro/subscription/update.go
  cmd/quotas.go
  cmd/scan/countries.go
  cmd/scan/result.go
  cmd/scan/submit.go
  cmd/scan/user_agents.go
  cmd/search.go
  cmd/user.go
Due: lint, tidy, docs, test

fix: fix typo
  cmd/flags/common.go
Due: lint, tidy, docs, test

fix: set default size properly
  cmd/flags/common.go
  cmd/pro/hostname.go
  cmd/pro/structure_search.go
  cmd/search.go
Due: lint, tidy, docs, test

feat: add --no-limit flag (#47)
  api/hostname_iterator.go
  api/iterator.go
  cmd/flags/common.go
  cmd/pro/hostname.go
  cmd/pro/structure_search.go
  cmd/search.go
  docs/urlscan_pro_hostname.md
  docs/urlscan_pro_structure-search.md
  docs/urlscan_search.md
Due: lint, tidy, docs, test

feat: pretty-json by default (#50)
  api/client.go
  api/scan.go
  cmd/pro/brand/available.go
  cmd/pro/brand/list.go
  cmd/pro/hostname.go
  cmd/pro/incident/close.go
  cmd/pro/incident/copy.go
  cmd/pro/incident/create.go
  cmd/pro/incident/fork.go
  cmd/pro/incident/get.go
  cmd/pro/incident/restart.go
  cmd/pro/incident/states.go
  cmd/pro/incident/update.go
  cmd/pro/livescan/purge.go
  cmd/pro/livescan/result.go
  cmd/pro/livescan/scan.go
  cmd/pro/livescan/scanners.go
  cmd/pro/livescan/store.go
  cmd/pro/search/create.go
  cmd/pro/search/delete.go
  cmd/pro/search/get.go
  cmd/pro/search/list.go
  cmd/pro/search/update.go
  cmd/pro/structure_search.go
  cmd/pro/subscription/create.go
  cmd/pro/subscription/delete.go
  cmd/pro/subscription/list.go
  cmd/pro/subscription/search.go
  cmd/pro/subscription/update.go
  cmd/quotas.go
  cmd/scan/countries.go
  cmd/scan/result.go
  cmd/scan/submit.go
  cmd/scan/user_agents.go
  cmd/search.go
  cmd/user.go
Due: lint, tidy, docs, test

refactor: split sendRequest to NewRequest & Do/DoWithJsonparse
  api/client.go
  api/client_test.go
Due: lint, tidy, test

feat: add Batch func
  api/batch.go
  api/batch_test.go
  go.mod
  go.sum
Due: lint, tidy, test

feat: MappedStringsReader
  pkg/utils/strings_reader.go
  pkg/utils/strings_reader_test.go
  pkg/utils/testdata/input.txt
Due: lint, tidy, test

feat: use batch in submit command
  api/batch.go
  api/client.go
  api/scan.go
  cmd/flags/common.go
  cmd/scan/submit.go
  docs/urlscan_scan_submit.md
  go.mod
  go.sum
  pkg/utils/client.go
Due: lint, tidy, docs, test

refactor: unify the interface of readers
  cmd/scan/submit.go
  pkg/utils/mapper.go
  pkg/utils/mapper_test.go
  pkg/utils/string_reader.go
  pkg/utils/string_reader_test.go
  pkg/utils/strings_reader.go
  pkg/utils/strings_reader_test.go
Due: lint, tidy, docs, test

refactor: log uuid
  api/client.go
Due: lint, tidy, test

refactor: split client into each file
  api/client.go
  api/hostname_iterator.go
  api/incident.go
  api/livescan.go
  api/search.go
  api/subscription.go
Due: lint, tidy, test

refactor: add AddOutputFlag func & use AddForceFlag
  cmd/flags/common.go
  cmd/pro/livescan/dom.go
  cmd/scan/dom.go
  cmd/scan/screenshot.go
  docs/urlscan_scan_dom.md
  docs/urlscan_scan_screenshot.md
Due: lint, tidy, docs, test

refactor: log uuid (#52)
  api/client.go
Due: lint, tidy, test

refactor: split client into each file (#53)
  api/client.go
  api/hostname_iterator.go
  api/incident.go
  api/livescan.go
  api/search.go
  api/subscription.go
Due: lint, tidy, test

refactor: add AddOutputFlag func & use AddForceFlag (#54)
  cmd/flags/common.go
  cmd/pro/livescan/dom.go
  cmd/scan/dom.go
  cmd/scan/screenshot.go
  docs/urlscan_scan_dom.md
  docs/urlscan_scan_screenshot.md
Due: lint, tidy, docs, test

fix: fix typo
  api/scan.go
  cmd/scan/submit.go
Due: lint, tidy, docs, test

refactor: split submit and bulk-submit
  api/batch.go
  api/batch_test.go
  cmd/flags/common.go
  cmd/scan/bulk.go
  cmd/scan/common.go
  cmd/scan/submit.go
  docs/urlscan_scan.md
  docs/urlscan_scan_bulk-submit.md
Due: lint, tidy, docs, test

Batching (#51)
  api/batch.go
  api/batch_test.go
  api/client.go
  api/client_test.go
  api/scan.go
  cmd/flags/common.go
  cmd/scan/bulk.go
  cmd/scan/common.go
  cmd/scan/submit.go
  docs/urlscan_scan.md
  docs/urlscan_scan_bulk-submit.md
  go.mod
  go.sum
  pkg/utils/client.go
  pkg/utils/mapper.go
  pkg/utils/mapper_test.go
  pkg/utils/string_reader.go
  pkg/utils/string_reader_test.go
  pkg/utils/testdata/input.txt
Due: lint, tidy, docs, test

fix: don't use Do to read response body
  api/client.go
Due: lint, tidy, test

refactor: remove trailing dot
  cmd/flags/common.go
Due: lint, tidy, docs, test

refactor: use option pattern
  cmd/pro/file.go
  cmd/pro/livescan/dom.go
  cmd/scan/dom.go
  cmd/scan/screenshot.go
  pkg/utils/client.go
Due: lint, tidy, docs, test

feat: add "with" options
  cmd/scan/submit.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_live-scan_dom.md
  docs/urlscan_scan_dom.md
  docs/urlscan_scan_screenshot.md
  docs/urlscan_scan_submit.md
Due: none
