Repository urlscan/urlscan-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, tidy, docs

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.go"
      run: golangci-lint run --fix
      stage_fixed: true
    test:
      glob: "*.go"
      run: go test ./...
    tidy:
      glob: "{*.go,go.mod}"
      run: go mod tidy
    docs:
      glob: "cmd/*.go"
      run: |
        rm docs/urlscan*.md
        go run docutil/main.go

fix: fix typo
  README.md
Due: none

refactor: remove Taskfile & use Makefile
  Makefile
  Taskfile.yml
Due: none

refactor: remove Taskfile & use Makefile (#5)
  Makefile
  Taskfile.yml
Due: none

Fix typos
  Makefile
  README.md
Due: none

feat: hostname command
  api/client.go
  api/hostname.go
  cmd/hostname.go
  docs/urlscan.md
  docs/urlscan_hostname.md
Due: lint, test, tidy, docs

fix: set staged_fixed in tidy & docs
  lefthook.yml
Due: none

feat: add brand (pro brand) command
  cmd/pro/brand/available.go
  cmd/pro/brand/list.go
  cmd/pro/brand/root.go
  cmd/pro/root.go
  cmd/root.go
  docs/urlscan.md
  docs/urlscan_pro.md
  docs/urlscan_pro_brand.md
  docs/urlscan_pro_brand_available.md
  docs/urlscan_pro_brand_list.md
Due: lint, test, tidy, docs

Fix typo
  cmd/pro/brand/list.go
Due: lint, test, tidy, docs

fix: set staged_fixed in tidy & docs (#8)
  lefthook.yml
Due: none

feat: hostname command (#7)
  api/client.go
  api/hostname.go
  cmd/hostname.go
  docs/urlscan.md
  docs/urlscan_hostname.md
Due: lint, test, tidy, docs

feat: add brand (pro brand) command (#9)
  cmd/pro/brand/available.go
  cmd/pro/brand/list.go
  cmd/pro/brand/root.go
  cmd/pro/root.go
  cmd/root.go
  docs/urlscan.md
  docs/urlscan_pro.md
  docs/urlscan_pro_brand.md
  docs/urlscan_pro_brand_available.md
  docs/urlscan_pro_brand_list.md
Due: lint, test, tidy, docs

feat: scan countries
  cmd/scan/countries.go
Due: lint, test, tidy, docs

Create urlscan_scan_countries.md
  docs/urlscan_scan_countries.md
Due: none

feat: scan user-agents
  cmd/scan/user_agents.go
  docs/urlscan_scan.md
  docs/urlscan_scan_user-agents.md
Due: lint, test, tidy, docs

fix: stage docs/urlscan_scan.md
  docs/urlscan_scan.md
Due: none

feat: hostname iterator
  api/client.go
  api/hostname.go
  api/hostname_iterator.go
  cmd/hostname.go
Due: lint, test, tidy, docs

refactor: pro hostname
  cmd/pro/hostname.go
  docs/urlscan.md
  docs/urlscan_pro.md
  docs/urlscan_pro_hostname.md
Due: lint, test, tidy, docs

docs: update docs
  docs/urlscan_hostname.md
  docs/urlscan_pro_hostname.md
Due: none

fix: update example
  cmd/pro/hostname.go
  docs/urlscan_pro_hostname.md
Due: lint, test, tidy, docs

feat: add user
  cmd/pro/user.go
  docs/urlscan_pro.md
  docs/urlscan_pro_user.md
Due: lint, test, tidy, docs

feat: add user (#13)
  cmd/pro/user.go
  docs/urlscan_pro.md
  docs/urlscan_pro_user.md
Due: lint, test, tidy, docs

feat: scan user-agents (#11)
  cmd/scan/user_agents.go
  docs/urlscan_scan.md
  docs/urlscan_scan_user-agents.md
Due: lint, test, tidy, docs

Countries (#10)
  cmd/scan/countries.go
  docs/urlscan_scan.md
  docs/urlscan_scan_countries.md
Due: lint, test, tidy, docs

feat: pro structure-search
  api/client.go
  cmd/pro/structure_search.go
  cmd/search.go
  docs/urlscan_pro.md
  docs/urlscan_pro_structure-search.md
  pkg/utils/search.go
Due: lint, test, tidy, docs

docs: update docs
  docs/urlscan_pro_structure-search.md
Due: none

refactor: shorten the long message
  cmd/pro/hostname.go
  docs/urlscan_pro_hostname.md
Due: lint, test, tidy, docs

refactor: run tests on pre-push
  lefthook.yml
Due: none

refactor: run tests on pre-push (#15)
  lefthook.yml
Due: none

fix: improve keyring error handling
  cmd/key.go
  pkg/utils/keyring.go
Due: lint, test, tidy, docs

refactor: shorten the func name
  cmd/key.go
  pkg/utils/keyring.go
Due: lint, test, tidy, docs

fix: improve keyring error handling (#18)
  cmd/key.go
  pkg/utils/keyring.go
Due: lint, test, tidy, docs

refactor: do manual args check
  cmd/hostname.go
  cmd/key.go
  cmd/quotas.go
  cmd/scan/dom.go
  cmd/scan/result.go
  cmd/scan/screenshot.go
  cmd/scan/submit.go
  cmd/search.go
  cmd/version.go
Due: lint, test, tidy, docs

feat: add subscription commands
  api/client.go
  api/subscription.go
  cmd/pro/root.go
  cmd/pro/subscription/create.go
  cmd/pro/subscription/delete.go
  cmd/pro/subscription/list.go
  cmd/pro/subscription/root.go
  cmd/pro/subscription/search.go
  cmd/pro/subscription/update.go
  docs/urlscan_pro.md
  docs/urlscan_pro_subscription.md
  docs/urlscan_pro_subscription_create.md
  docs/urlscan_pro_subscription_delete.md
  docs/urlscan_pro_subscription_list.md
  docs/urlscan_pro_subscription_search.md
  docs/urlscan_pro_subscription_update.md
Due: lint, test, tidy, docs

fix: fix typo
  docs/urlscan_pro_subscription_update.md
Due: none

feat: file command
  cmd/pro/file.go
  docs/urlscan_pro.md
  docs/urlscan_pro_file.md
  pkg/utils/client.go
Due: lint, test, tidy, docs

refactor: do manual args check (#19)
  cmd/hostname.go
  cmd/key.go
  cmd/quotas.go
  cmd/scan/dom.go
  cmd/scan/result.go
  cmd/scan/screenshot.go
  cmd/scan/submit.go
  cmd/search.go
  cmd/version.go
Due: lint, test, tidy, docs

refactor: do not create file until getting 200
  api/client.go
  pkg/utils/client.go
Due: lint, test, tidy

feat: file command (#21)
  api/client.go
  cmd/pro/file.go
  docs/urlscan_pro.md
  docs/urlscan_pro_file.md
  pkg/utils/client.go
Due: lint, test, tidy, docs

refactor: generate ID automatically if it's not given
  cmd/pro/subscription/create.go
  docs/urlscan_pro_subscription_create.md
  go.mod
  go.sum
Due: lint, test, tidy, docs
