Repository urlscan/urlscan-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tidy, docs, test

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.go"
      run: golangci-lint run --fix
      stage_fixed: true
    tidy:
      glob: "{*.go,go.mod}"
      run: go mod tidy
      stage_fixed: true
    docs:
      glob: "cmd/*.go"
      run: |
        rm docs/urlscan*.md
        go run docutil/main.go
      stage_fixed: true
    test:
      glob: "*.go"
      run: go test ./...

fix: use time.After instead of time.Sleep
  api/client.go
  api/client_test.go
Due: lint, tidy, test

fix: use time.After instead of time.Sleep (#116)
  api/client.go
  api/client_test.go
Due: lint, tidy, test

feat: show update notice
  cmd/root.go
  cmd/version.go
  go.mod
  go.sum
  pkg/version/update.go
  pkg/version/version_test.go
Due: lint, tidy, docs, test

refactor: remove notice from root
  cmd/root.go
Due: lint, tidy, docs, test

refactor: use a channel with a short timeout & silence the error
  cmd/version.go
  pkg/version/update.go
Due: lint, tidy, docs, test

feat: show update notice (#117)
  cmd/version.go
  go.mod
  go.sum
  pkg/version/update.go
  pkg/version/version_test.go
Due: lint, tidy, docs, test

fix: do proper error handling
  pkg/version/update.go
Due: lint, tidy, test

refactor: make notification more generic
  cmd/version.go
  go.mod
  go.sum
  pkg/utils/notifier.go
Due: lint, tidy, docs, test

fix: do proper error handling (#118)
  pkg/version/update.go
Due: lint, tidy, test

refactor: drop muesli/termenv
  cmd/version.go
  go.mod
  go.sum
  pkg/utils/notifier.go
Due: lint, tidy, docs, test

feat: support --json/jsonl && --params
  api/channel.go
  api/channel_test.go
  api/hostname.go
  api/incident.go
  api/iterator.go
  api/livescan.go
  api/scan.go
  api/search.go
  api/subscription.go
  cmd/flags/common.go
  cmd/flags/common_test.go
  cmd/pro/channel/create.go
  cmd/pro/channel/update.go
  cmd/pro/hostname.go
  cmd/pro/incident/create.go
  cmd/pro/incident/update.go
  cmd/pro/livescan/scan.go
  cmd/pro/livescan/store.go
  cmd/pro/search/create.go
  cmd/pro/search/update.go
  cmd/pro/structure_search.go
  cmd/pro/subscription/create.go
  cmd/pro/subscription/update.go
  cmd/scan/bulk.go
  cmd/scan/submit.go
  cmd/search.go
  test/pro/channel.bats
  test/pro/hostname.bats
  test/pro/incident.bats
  test/pro/saved_search.bats
  test/pro/structure_search.bats
  test/pro/subscription.bats
  test/search.bats
Due: lint, tidy, docs, test

refactor: show usage if there is no input
  cmd/scan/bulk.go
Due: lint, tidy, docs, test

refactor: remove meaningless error
  cmd/pro/channel/common.go
  cmd/pro/channel/create.go
  cmd/pro/channel/update.go
Due: lint, tidy, docs, test

fix: handle url correctly
  cmd/scan/bulk.go
  cmd/scan/submit.go
  pkg/utils/etc.go
Due: lint, tidy, docs, test

fix: fix wrong description
  cmd/flags/common.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_channel_create.md
  docs/urlscan_pro_channel_update.md
  docs/urlscan_pro_hostname.md
  docs/urlscan_pro_incident_create.md
  docs/urlscan_pro_incident_update.md
  docs/urlscan_pro_livescan_scan.md
  docs/urlscan_pro_livescan_store.md
  docs/urlscan_pro_saved-search_create.md
  docs/urlscan_pro_saved-search_update.md
  docs/urlscan_pro_structure-search.md
  docs/urlscan_pro_subscription_create.md
  docs/urlscan_pro_subscription_update.md
  docs/urlscan_scan_bulk-submit.md
  docs/urlscan_scan_submit.md
  docs/urlscan_search.md
Due: none

fix: remove wrongly added func
  api/scan.go
Due: lint, tidy, test

refactor: make notification more generic (#119)
  cmd/version.go
  pkg/utils/notifier.go
Due: lint, tidy, docs, test

refactor: marshalJSONWithExtra
  api/channel.go
  api/channel_test.go
  api/incident.go
  api/livescan.go
  api/scan.go
  api/search.go
  api/subscription.go
  api/utils.go
  api/utils_test.go
  cmd/search.go
Due: lint, tidy, docs, test

feat: support refang for scan input
  cmd/flags/common.go
  cmd/pro/livescan/scan.go
  cmd/scan/bulk.go
  cmd/scan/common.go
  cmd/scan/submit.go
  pkg/utils/refang.go
  pkg/utils/refang_test.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_livescan_scan.md
  docs/urlscan_scan_bulk-submit.md
  docs/urlscan_scan_submit.md
Due: none

fix: remove FTP
  pkg/utils/refang.go
  pkg/utils/refang_test.go
Due: lint, tidy, test

Add port defang test
  pkg/utils/refang_test.go
Due: lint, tidy, test

Add refang (#121)
  cmd/flags/common.go
  cmd/pro/livescan/scan.go
  cmd/scan/bulk.go
  cmd/scan/common.go
  cmd/scan/submit.go
  docs/urlscan_pro_livescan_scan.md
  docs/urlscan_scan_bulk-submit.md
  docs/urlscan_scan_submit.md
  pkg/utils/refang.go
  pkg/utils/refang_test.go
Due: lint, tidy, docs, test

feat: support malicious API endpoint
  cmd/pro/malicious/lookup.go
  cmd/pro/malicious/root.go
  cmd/pro/root.go
  test/pro/malicious.bats
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro.md
  docs/urlscan_pro_malicious.md
  docs/urlscan_pro_malicious_lookup.md
Due: none

Support Malicious API Endpoint (#122)
  cmd/pro/malicious/lookup.go
  cmd/pro/malicious/root.go
  cmd/pro/root.go
  docs/urlscan_pro.md
  docs/urlscan_pro_malicious.md
  docs/urlscan_pro_malicious_lookup.md
  test/pro/malicious.bats
Due: lint, tidy, docs, test

fix: allow zero size for search
  api/iterator.go
Due: lint, tidy, test

fix: allow zero size for search (#123)
  api/iterator.go
Due: lint, tidy, test

ci: update goreleaser/goreleaser-action, etc.
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

ci: update goreleaser/goreleaser-action, etc. (#124)
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

ci: remove docs workflow
  .github/workflows/docs.yml
Due: none

ci: remove docs workflow (#125)
  .github/workflows/docs.yml
Due: none

misc: update Go and modules
  go.mod
  go.sum
Due: tidy

misc: update Go and modules (#126)
  go.mod
  go.sum
Due: tidy

ci: disable persist-credentials
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

ci: disable persist-credentials (#127)
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

docs: add a note about Tap Trust
  README.md
Due: none

docs: add a note about Tap Trust (#128)
  README.md
Due: none

refactor: change the default limit
  cmd/flags/common.go
  cmd/pro/hostname.go
  cmd/pro/structure_search.go
  cmd/search.go
  docs/urlscan_pro_hostname.md
  docs/urlscan_pro_structure-search.md
  docs/urlscan_search.md
Due: lint, tidy, docs, test
