Repository urlscan/urlscan-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tidy, docs, test

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.go"
      run: golangci-lint run --fix
      stage_fixed: true
    tidy:
      glob: "{*.go,go.mod}"
      run: go mod tidy
      stage_fixed: true
    docs:
      glob: "cmd/*.go"
      run: |
        rm docs/urlscan*.md
        go run docutil/main.go
      stage_fixed: true
    test:
      glob: "*.go"
      run: go test ./...

docs: update docs
  docs/urlscan_pro.md
Due: none

refactor: let it omit by "omitempty"
  api/subscription.go
Due: lint, tidy, test

Update cmd/pro/subscription/create.go
  cmd/pro/subscription/create.go
Due: lint, tidy, docs, test

Update docs/urlscan_pro_subscription_list.md
  docs/urlscan_pro_subscription_list.md
Due: none

docs: update doc
  docs/urlscan_pro_subscription_create.md
Due: none

Update cmd/pro/subscription/list.go
  cmd/pro/subscription/list.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_subscription.md
  docs/urlscan_pro_subscription_create.md
Due: none

refactor: add a helper function to set the same flags
  cmd/pro/subscription/common.go
  cmd/pro/subscription/create.go
  cmd/pro/subscription/update.go
  docs/urlscan_pro_subscription_update.md
Due: lint, tidy, docs, test

refactor: use magic numbers
  api/client.go
Due: lint, tidy, test

Update cmd/pro/structure_search.go
  cmd/pro/structure_search.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro.md
  docs/urlscan_pro_structure-search.md
Due: none

Structure search (#14)
  api/client.go
  cmd/hostname.go
  cmd/key.go
  cmd/pro/file.go
  cmd/pro/structure_search.go
  cmd/quotas.go
  cmd/scan/dom.go
  cmd/scan/result.go
  cmd/scan/screenshot.go
  cmd/scan/submit.go
  cmd/search.go
  cmd/version.go
  docs/urlscan_pro.md
  docs/urlscan_pro_file.md
  docs/urlscan_pro_structure-search.md
  lefthook.yml
  pkg/utils/client.go
  pkg/utils/keyring.go
  pkg/utils/search.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro.md
Due: none

docs: sync
  docs/urlscan_pro.md
Due: none

Subscription (#20)
  api/client.go
  api/subscription.go
  cmd/pro/root.go
  cmd/pro/subscription/common.go
  cmd/pro/subscription/create.go
  cmd/pro/subscription/delete.go
  cmd/pro/subscription/list.go
  cmd/pro/subscription/root.go
  cmd/pro/subscription/search.go
  cmd/pro/subscription/update.go
  docs/urlscan_pro.md
  docs/urlscan_pro_subscription.md
  docs/urlscan_pro_subscription_create.md
  docs/urlscan_pro_subscription_delete.md
  docs/urlscan_pro_subscription_list.md
  docs/urlscan_pro_subscription_search.md
  docs/urlscan_pro_subscription_update.md
  go.mod
  go.sum
Due: lint, tidy, docs, test

feat: saved-search
  api/client.go
  api/search.go
  cmd/pro/root.go
  cmd/pro/search/common.go
  cmd/pro/search/create.go
  cmd/pro/search/delete.go
  cmd/pro/search/get.go
  cmd/pro/search/list.go
  cmd/pro/search/root.go
  cmd/pro/search/update.go
  docs/urlscan_pro.md
  docs/urlscan_pro_brand.md
  docs/urlscan_pro_saved-search_create.md
  docs/urlscan_pro_saved-search_delete.md
  docs/urlscan_pro_saved-search_get.md
  docs/urlscan_pro_saved-search_list.md
  docs/urlscan_pro_saved-search_update.md
Due: lint, tidy, docs, test

feat: saved-search
  api/client.go
  api/search.go
  cmd/pro/root.go
  cmd/pro/search/common.go
  cmd/pro/search/create.go
  cmd/pro/search/delete.go
  cmd/pro/search/get.go
  cmd/pro/search/list.go
  cmd/pro/search/root.go
  cmd/pro/search/update.go
  docs/urlscan_pro.md
  docs/urlscan_pro_saved-search.md
  docs/urlscan_pro_saved-search_create.md
  docs/urlscan_pro_saved-search_delete.md
  docs/urlscan_pro_saved-search_get.md
  docs/urlscan_pro_saved-search_list.md
  docs/urlscan_pro_saved-search_update.md
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_brand.md
  docs/urlscan_pro_brand_list.md
Due: none

refactor: "defaults to ..."
  cmd/pro/subscription/common.go
  cmd/pro/subscription/search.go
  cmd/scan/dom.go
  cmd/scan/screenshot.go
  docs/urlscan_pro_subscription_create.md
  docs/urlscan_pro_subscription_search.md
  docs/urlscan_pro_subscription_update.md
  docs/urlscan_scan_dom.md
  docs/urlscan_scan_screenshot.md
Due: lint, tidy, docs, test

feat: incident command
  api/client.go
  api/incident.go
  cmd/pro/incident/close.go
  cmd/pro/incident/common.go
  cmd/pro/incident/copy.go
  cmd/pro/incident/create.go
  cmd/pro/incident/fork.go
  cmd/pro/incident/list.go
  cmd/pro/incident/restart.go
  cmd/pro/incident/root.go
  cmd/pro/incident/states.go
  cmd/pro/incident/update.go
  cmd/pro/root.go
  docs/urlscan_pro.md
  docs/urlscan_pro_incident.md
  docs/urlscan_pro_incident_close.md
  docs/urlscan_pro_incident_copy.md
  docs/urlscan_pro_incident_create.md
  docs/urlscan_pro_incident_fork.md
  docs/urlscan_pro_incident_get.md
  docs/urlscan_pro_incident_restart.md
  docs/urlscan_pro_incident_states.md
  docs/urlscan_pro_incident_update.md
Due: lint, tidy, docs, test

fix: fix indent typos
  cmd/pro/incident/close.go
  cmd/pro/incident/copy.go
  cmd/pro/incident/fork.go
  cmd/pro/incident/restart.go
  cmd/pro/incident/states.go
  docs/urlscan_pro_incident_close.md
  docs/urlscan_pro_incident_copy.md
  docs/urlscan_pro_incident_fork.md
  docs/urlscan_pro_incident_restart.md
  docs/urlscan_pro_incident_states.md
Due: lint, tidy, docs, test

refactor: convert flags to options
  cmd/pro/subscription/common.go
  cmd/pro/subscription/create.go
  cmd/pro/subscription/update.go
Due: lint, tidy, docs, test

refactor: convert flags to options (#27)
  cmd/pro/subscription/common.go
  cmd/pro/subscription/create.go
  cmd/pro/subscription/update.go
Due: lint, tidy, docs, test

Update cmd/pro/incident/common.go
  cmd/pro/incident/common.go
Due: lint, tidy, docs, test

fix: fix typos
  cmd/pro/incident/fork.go
  cmd/pro/incident/get.go
  docs/urlscan_pro_incident_fork.md
Due: lint, tidy, docs, test

Incident (#26)
  api/client.go
  api/incident.go
  cmd/pro/incident/close.go
  cmd/pro/incident/common.go
  cmd/pro/incident/copy.go
  cmd/pro/incident/create.go
  cmd/pro/incident/fork.go
  cmd/pro/incident/get.go
  cmd/pro/incident/restart.go
  cmd/pro/incident/root.go
  cmd/pro/incident/states.go
  cmd/pro/incident/update.go
  cmd/pro/root.go
  docs/urlscan_pro.md
  docs/urlscan_pro_incident.md
  docs/urlscan_pro_incident_close.md
  docs/urlscan_pro_incident_copy.md
  docs/urlscan_pro_incident_create.md
  docs/urlscan_pro_incident_fork.md
  docs/urlscan_pro_incident_get.md
  docs/urlscan_pro_incident_restart.md
  docs/urlscan_pro_incident_states.md
  docs/urlscan_pro_incident_update.md
Due: lint, tidy, docs, test

Update cmd/scan/screenshot.go
  cmd/scan/screenshot.go
Due: lint, tidy, docs, test

Update docs/urlscan_scan_dom.md
  docs/urlscan_scan_dom.md
Due: none

Update docs/urlscan_scan_screenshot.md
  docs/urlscan_scan_screenshot.md
Due: none

Update cmd/scan/dom.go
  cmd/scan/dom.go
Due: lint, tidy, docs, test

Udpate docs (#25)
  cmd/pro/subscription/common.go
  cmd/pro/subscription/search.go
  cmd/scan/dom.go
  cmd/scan/screenshot.go
  docs/urlscan_pro_brand.md
  docs/urlscan_pro_brand_list.md
  docs/urlscan_pro_subscription_create.md
  docs/urlscan_pro_subscription_search.md
  docs/urlscan_pro_subscription_update.md
  docs/urlscan_scan_dom.md
  docs/urlscan_scan_screenshot.md
Due: lint, tidy, docs, test

Update docs/urlscan_pro_saved-search_create.md
  docs/urlscan_pro_saved-search_create.md
Due: none

Update docs/urlscan_pro_saved-search_update.md
  docs/urlscan_pro_saved-search_update.md
Due: none

fix: fix typo
  cmd/pro/search/create.go
Due: lint, tidy, docs, test

fix: use STDIN with -
  cmd/pro/search/get.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro.md
  docs/urlscan_pro_incident_create.md
  docs/urlscan_pro_incident_update.md
  docs/urlscan_pro_saved-search_create.md
  docs/urlscan_pro_saved-search_get.md
  docs/urlscan_pro_saved-search_update.md
Due: none

fix: use lowercased "saved search"
  cmd/pro/search/common.go
  docs/urlscan_pro_saved-search_create.md
  docs/urlscan_pro_saved-search_update.md
Due: lint, tidy, docs, test

feat: saved-search (#24)
  api/client.go
  api/search.go
  cmd/pro/root.go
  cmd/pro/search/common.go
  cmd/pro/search/create.go
  cmd/pro/search/delete.go
  cmd/pro/search/get.go
  cmd/pro/search/list.go
  cmd/pro/search/root.go
  cmd/pro/search/update.go
  docs/urlscan_pro.md
  docs/urlscan_pro_incident_create.md
  docs/urlscan_pro_incident_update.md
  docs/urlscan_pro_saved-search.md
  docs/urlscan_pro_saved-search_create.md
  docs/urlscan_pro_saved-search_delete.md
  docs/urlscan_pro_saved-search_get.md
  docs/urlscan_pro_saved-search_list.md
  docs/urlscan_pro_saved-search_update.md
Due: lint, tidy, docs, test
