Repository urlscan/urlscan-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tidy, docs, test

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.go"
      run: golangci-lint run --fix
      stage_fixed: true
    tidy:
      glob: "{*.go,go.mod}"
      run: go mod tidy
      stage_fixed: true
    docs:
      glob: "cmd/*.go"
      run: |
        rm docs/urlscan*.md
        go run docutil/main.go
      stage_fixed: true
    test:
      glob: "*.go"
      run: go test ./...

refactor: change the default limit (#129)
  cmd/flags/common.go
  cmd/pro/hostname.go
  cmd/pro/structure_search.go
  cmd/search.go
  docs/urlscan_pro_hostname.md
  docs/urlscan_pro_structure-search.md
  docs/urlscan_search.md
Due: lint, tidy, docs, test

chore: update dependencies
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  go.mod
  go.sum
Due: tidy

chore: update dependencies (#130)
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  go.mod
  go.sum
Due: tidy

feat: add screenshot, response and download sub-commands for live scan
  cmd/pro/livescan/download.go
  cmd/pro/livescan/response.go
  cmd/pro/livescan/screenshot.go
  docs/urlscan_pro_livescan.md
  docs/urlscan_pro_livescan_download.md
  docs/urlscan_pro_livescan_response.md
  docs/urlscan_pro_livescan_screenshot.md
  test/pro/livescan.bats
Due: lint, tidy, docs, test

ci: update actions
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix: remove expireAt from incident
  api/incident.go
  cmd/pro/incident/common.go
Due: lint, tidy, docs, test

fix: remove ownerDescription from saved search
  api/search.go
  cmd/pro/search/common.go
  cmd/pro/search/create.go
  cmd/pro/search/update.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_incident_create.md
  docs/urlscan_pro_incident_update.md
  docs/urlscan_pro_saved-search_create.md
  docs/urlscan_pro_saved-search_update.md
Due: none

fix: remove wrong flags (#133)
  api/incident.go
  api/search.go
  cmd/pro/incident/common.go
  cmd/pro/search/common.go
  cmd/pro/search/create.go
  cmd/pro/search/update.go
  docs/urlscan_pro_incident_create.md
  docs/urlscan_pro_incident_update.md
  docs/urlscan_pro_saved-search_create.md
  docs/urlscan_pro_saved-search_update.md
Due: lint, tidy, docs, test

ci: update actions (#132)
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat: add fetch utility command
  api/client.go
  cmd/pro/livescan/fetch.go
  docs/urlscan_pro_livescan.md
  docs/urlscan_pro_livescan_fetch.md
  test/pro/livescan.bats
Due: lint, tidy, docs, test

refactor: use head
  api/request.go
  cmd/pro/livescan/fetch.go
Due: lint, tidy, docs, test

feat: add screenshot, response and download sub-commands for live scan (#131)
  api/client.go
  api/request.go
  cmd/pro/livescan/download.go
  cmd/pro/livescan/fetch.go
  cmd/pro/livescan/response.go
  cmd/pro/livescan/screenshot.go
  docs/urlscan_pro_livescan.md
  docs/urlscan_pro_livescan_download.md
  docs/urlscan_pro_livescan_fetch.md
  docs/urlscan_pro_livescan_response.md
  docs/urlscan_pro_livescan_screenshot.md
  test/pro/livescan.bats
Due: lint, tidy, docs, test

refactor: drop .html extension
  cmd/pro/livescan/dom.go
  cmd/scan/bulk.go
  cmd/scan/dom.go
  cmd/scan/submit.go
  test/pro/livescan.bats
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_livescan_dom.md
  docs/urlscan_scan_dom.md
Due: none

feat: add helper command for queryable-fields
  cmd/root.go
  cmd/search/fields.go
  cmd/search/root.go
Due: lint, tidy, docs, test

docs: add dots & sync docs
  cmd/search/root.go
  docs/urlscan_search.md
  docs/urlscan_search_fields.md
Due: lint, tidy, docs, test

feat: add count sub-command
  cmd/search/count.go
  cmd/search/root.go
  docs/urlscan_search.md
  docs/urlscan_search_count.md
Due: lint, tidy, docs, test

Drop html file extension from DOM commands (#134)
  cmd/pro/livescan/dom.go
  cmd/scan/bulk.go
  cmd/scan/dom.go
  cmd/scan/submit.go
  docs/urlscan_pro_livescan_dom.md
  docs/urlscan_scan_dom.md
  test/pro/livescan.bats
Due: lint, tidy, docs, test

fix: support size=0 case for counting
  api/iterator.go
  api/iterator_test.go
Due: lint, tidy, test

fix: support size=0 case for counting (#136)
  api/iterator.go
  api/iterator_test.go
Due: lint, tidy, test

fix: remove limit
  cmd/search/count.go
Due: lint, tidy, docs, test

chore: add API doc reference
  cmd/search/root.go
  docs/urlscan_search.md
Due: lint, tidy, docs, test

feat: add MCP command based on Ophis
  cmd/mcp.go
  docs/urlscan.md
  docs/urlscan_mcp.md
  docs/urlscan_mcp_start.md
  docs/urlscan_mcp_stream.md
  docs/urlscan_mcp_tools.md
  go.mod
  go.sum
Due: lint, tidy, docs, test

feat: add extra-path in incident
  api/incident.go
  cmd/pro/incident/common.go
  docs/urlscan_pro_incident_create.md
  docs/urlscan_pro_incident_update.md
Due: lint, tidy, docs, test

feat: add extra-path in incident (#137)
  api/incident.go
  cmd/pro/incident/common.go
  docs/urlscan_pro_incident_create.md
  docs/urlscan_pro_incident_update.md
Due: lint, tidy, docs, test

Add commands for listing queryable fields & counting (#135)
  cmd/root.go
  cmd/search/count.go
  cmd/search/fields.go
  cmd/search/root.go
  docs/urlscan_search.md
  docs/urlscan_search_count.md
  docs/urlscan_search_fields.md
Due: lint, tidy, docs, test

refactor: drop stealth
  cmd/pro/livescan/scan.go
  docs/urlscan_pro_livescan_scan.md
Due: lint, tidy, docs, test

refactor: add deprecation warning
  api/livescan.go
Due: lint, tidy, test

fix: remove screenshotCompression
  cmd/pro/livescan/scan.go
  docs/urlscan_pro_livescan_scan.md
Due: lint, tidy, docs, test

Deprecation (#138)
  api/livescan.go
  cmd/pro/livescan/scan.go
  docs/urlscan_pro_livescan_scan.md
Due: lint, tidy, docs, test

chore: update Go and depdencies
  go.mod
  go.sum
Due: tidy

chore: sync go.sum
  go.sum
Due: none

Update Go and dependencies (#139)
  go.mod
  go.sum
Due: tidy

refactor: allow specifying scheme in SetHost
  api/client.go
  api/client_test.go
  cmd/root.go
Due: lint, tidy, docs, test

refactor: allow specifying scheme in SetHost (#140)
  api/client.go
  api/client_test.go
  cmd/root.go
Due: lint, tidy, docs, test

fix: update exhaustruct
  .golangci.yml
Due: none

fix: ignore tar.Headers from exhaustruct & simplify declarations
  .golangci.yml
  pkg/utils/archive_test.go
Due: lint, tidy, test

fix: update inline ignore
  cmd/scan/bulk.go
Due: lint, tidy, docs, test

fix: apply gofumpt
  cmd/pro/brand/available.go
Due: lint, tidy, docs, test
