Repository urlscan/urlscan-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tidy, docs, test

lint:
  run: golangci-lint run --fix
  stage_fixed: true

tidy:
  run: go mod tidy
  stage_fixed: true

docs:
  run: 'rm docs/urlscan*.md
  
    go run docutil/main.go
  
    '
  stage_fixed: true

test:
  run: go test ./...

feat: livescan
  api/client.go
  api/livescan.go
  cmd/flags/common.go
  cmd/pro/livescan/dom.go
  cmd/pro/livescan/flags.go
  cmd/pro/livescan/purge.go
  cmd/pro/livescan/result.go
  cmd/pro/livescan/root.go
  cmd/pro/livescan/scan.go
  cmd/pro/livescan/scanners.go
  cmd/pro/livescan/store.go
  cmd/pro/root.go
  docs/urlscan_pro.md
  docs/urlscan_pro_live-scan.md
  docs/urlscan_pro_live-scan_dom.md
  docs/urlscan_pro_live-scan_purge.md
  docs/urlscan_pro_live-scan_result.md
  docs/urlscan_pro_live-scan_scan.md
  docs/urlscan_pro_live-scan_scanners.md
  docs/urlscan_pro_live-scan_store.md
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_live-scan.md
  docs/urlscan_pro_live-scan_purge.md
  docs/urlscan_pro_live-scan_scan.md
Due: none

fix: remove omitempty
  api/livescan.go
Due: lint, tidy, test

ci: test docs workflow
  .github/workflows/docs.yml
Due: none

fix: add run
  .github/workflows/docs.yml
Due: none

test
  cmd/root.go
Due: lint, tidy, docs, test

fix: stage changes
  .github/workflows/docs.yml
Due: none

ci: set re & repository
  .github/workflows/docs.yml
Due: none

docs: sync docs
  docs/urlscan.md
  docs/urlscan_hostname.md
  docs/urlscan_key.md
  docs/urlscan_pro.md
  docs/urlscan_quotas.md
  docs/urlscan_scan.md
  docs/urlscan_search.md
  docs/urlscan_version.md
Due: none

ci: docs workflow
  .github/workflows/docs.yml
Due: none

ci: docs workflow (#31)
  .github/workflows/docs.yml
Due: none

Update cmd/flags/common.go
  cmd/flags/common.go
Due: lint, tidy, docs, test

Update cmd/pro/livescan/scan.go
  cmd/pro/livescan/scan.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_live-scan_dom.md
  docs/urlscan_pro_live-scan_scan.md
Due: none

docs: sync docs
  docs/urlscan_pro_live-scan_scan.md
Due: none

docs: sync docs
  docs/urlscan_pro.md
Due: none

refactor: update page-state description
  cmd/pro/hostname.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_hostname.md
Due: none

Hostname iterator (#12)
  api/client.go
  api/hostname.go
  api/hostname_iterator.go
  cmd/hostname.go
  cmd/pro/hostname.go
  docs/urlscan.md
  docs/urlscan_hostname.md
  docs/urlscan_pro.md
  docs/urlscan_pro_hostname.md
Due: lint, tidy, docs, test

Update cmd/pro/livescan/dom.go
  cmd/pro/livescan/dom.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_live-scan.md
  docs/urlscan_pro_live-scan_dom.md
Due: none

Livescan (#29)
  api/client.go
  api/livescan.go
  cmd/flags/common.go
  cmd/pro/livescan/dom.go
  cmd/pro/livescan/flags.go
  cmd/pro/livescan/purge.go
  cmd/pro/livescan/result.go
  cmd/pro/livescan/root.go
  cmd/pro/livescan/scan.go
  cmd/pro/livescan/scanners.go
  cmd/pro/livescan/store.go
  cmd/pro/root.go
  docs/urlscan_pro.md
  docs/urlscan_pro_live-scan.md
  docs/urlscan_pro_live-scan_dom.md
  docs/urlscan_pro_live-scan_purge.md
  docs/urlscan_pro_live-scan_result.md
  docs/urlscan_pro_live-scan_scan.md
  docs/urlscan_pro_live-scan_scanners.md
  docs/urlscan_pro_live-scan_store.md
Due: lint, tidy, docs, test

fix readme
  README.md
Due: none

fix
  README.md
Due: none

refactor: do not create file until getting 200
  api/client.go
  pkg/utils/client.go
Due: lint, tidy, test

refactor: do not create file until getting 200 (#44)
  api/client.go
  pkg/utils/client.go
Due: lint, tidy, test

refactor: move user command from pro to root
  cmd/user.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan.md
  docs/urlscan_pro.md
  docs/urlscan_user.md
Due: none

refactor: remove (required) from description of defaulted flags
  cmd/pro/search/common.go
  cmd/pro/subscription/common.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_saved-search_create.md
  docs/urlscan_pro_saved-search_update.md
  docs/urlscan_pro_subscription_create.md
  docs/urlscan_pro_subscription_update.md
Due: none

fix: fix typo
  cmd/pro/subscription/common.go
Due: lint, tidy, docs, test

refactor: remove (optional) too
  cmd/pro/incident/common.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_incident_create.md
  docs/urlscan_pro_incident_update.md
  docs/urlscan_pro_subscription_create.md
  docs/urlscan_pro_subscription_update.md
Due: none

refactor: move user command from pro to root (#45)
  cmd/user.go
  docs/urlscan.md
  docs/urlscan_pro.md
  docs/urlscan_user.md
Due: lint, tidy, docs, test

refactor: remove (required) from description of defaulted flags (#46)
  cmd/pro/incident/common.go
  cmd/pro/search/common.go
  cmd/pro/subscription/common.go
  docs/urlscan_pro_incident_create.md
  docs/urlscan_pro_incident_update.md
  docs/urlscan_pro_saved-search_create.md
  docs/urlscan_pro_saved-search_update.md
  docs/urlscan_pro_subscription_create.md
  docs/urlscan_pro_subscription_update.md
Due: lint, tidy, docs, test

feat: add --no-limit flag
  api/hostname_iterator.go
  api/iterator.go
  cmd/flags/common.go
  cmd/pro/hostname.go
  cmd/pro/structure_search.go
  cmd/search.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_hostname.md
  docs/urlscan_pro_structure-search.md
  docs/urlscan_search.md
Due: none

Path conditions:
  lint: any of: *.go
  tidy: any of: {*.go,go.mod}
  docs: any of: cmd/*.go
  test: any of: *.go
