Repository urlscan/urlscan-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tidy, docs, test

lint:
  run: golangci-lint run --fix
  stage_fixed: true

tidy:
  run: go mod tidy
  stage_fixed: true

docs:
  run: 'rm docs/urlscan*.md
  
    go run docutil/main.go
  
    '
  stage_fixed: true

test:
  run: go test ./...

refactor: remove wait prefixes
  cmd/scan/submit.go
  docs/urlscan_scan_submit.md
Due: lint, tidy, docs, test

fix: remove --with prefix
  cmd/scan/submit.go
  docs/urlscan_scan_submit.md
Due: lint, tidy, docs, test

refactor: rename both to download
  cmd/scan/submit.go
  docs/urlscan_scan_submit.md
Due: lint, tidy, docs, test

Add with options (#39) (#55)
  api/client.go
  cmd/flags/common.go
  cmd/pro/file.go
  cmd/pro/livescan/dom.go
  cmd/scan/dom.go
  cmd/scan/screenshot.go
  cmd/scan/submit.go
  docs/urlscan_pro_live-scan_dom.md
  docs/urlscan_scan_dom.md
  docs/urlscan_scan_screenshot.md
  docs/urlscan_scan_submit.md
  pkg/utils/client.go
Due: lint, tidy, docs, test

feat: reject invalid URLs from bulk-submit
  cmd/scan/bulk.go
  pkg/utils/string_reader.go
  pkg/utils/string_reader_test.go
  pkg/utils/validator.go
  pkg/utils/validator_test.go
Due: lint, tidy, docs, test

fix: remove err
  pkg/utils/string_reader.go
Due: lint, tidy, test

feat: add dom, screenshot and all flags in bulk-submit
  cmd/flags/common.go
  cmd/scan/bulk.go
  cmd/scan/common.go
  cmd/scan/submit.go
  pkg/utils/client.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_scan_bulk-submit.md
Due: none

refactor: add long example/synopsis
  cmd/scan/bulk.go
  docs/urlscan_scan_bulk-submit.md
Due: lint, tidy, docs, test

feat: reject invalid URLs from bulk-submit (#57)
  cmd/scan/bulk.go
  docs/urlscan_scan_bulk-submit.md
  pkg/utils/string_reader.go
  pkg/utils/string_reader_test.go
  pkg/utils/validator.go
  pkg/utils/validator_test.go
Due: lint, tidy, docs, test

fix: apply formatter
  api/livescan.go
Due: lint, tidy, test

Add download flags (#58)
  api/livescan.go
  cmd/flags/common.go
  cmd/scan/bulk.go
  cmd/scan/common.go
  cmd/scan/submit.go
  docs/urlscan_scan_bulk-submit.md
  pkg/utils/client.go
Due: lint, tidy, docs, test

feat: add completion
  cmd/completion.go
  docs/urlscan.md
  docs/urlscan_completion.md
Due: lint, tidy, docs, test

fix: check unsupported shell type
  cmd/completion.go
Due: lint, tidy, docs, test

ci: support Homebrew Cask
  .github/workflows/release.yml
  .goreleaser.yaml
  README.md
Due: none

ci: lint GoReleaser config
  .github/workflows/lint.yml
Due: none

feat: add completion (#59)
  cmd/completion.go
  docs/urlscan.md
  docs/urlscan_completion.md
Due: lint, tidy, docs, test

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

Homebrew Cask (#60)
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .goreleaser.yaml
  README.md
Due: none

docs: add keyring guide for Linux
  README.md
  docs/troubleshooting.md
Due: none

fix: revert wrongly deleted tests
  api/client_test.go
Due: lint, tidy, test

feat: add open command
  cmd/scan/open.go
  docs/urlscan_scan.md
  docs/urlscan_scan_open.md
  go.mod
  go.sum
Due: lint, tidy, docs, test

refactor: rename live-scan to livescan
  cmd/pro/livescan/dom.go
  cmd/pro/livescan/purge.go
  cmd/pro/livescan/result.go
  cmd/pro/livescan/root.go
  cmd/pro/livescan/scan.go
  cmd/pro/livescan/scanners.go
  cmd/pro/livescan/store.go
  docs/urlscan_pro.md
  docs/urlscan_pro_live-scan.md
  docs/urlscan_pro_live-scan_purge.md
  docs/urlscan_pro_live-scan_result.md
  docs/urlscan_pro_live-scan_scanners.md
  docs/urlscan_pro_livescan.md
  docs/urlscan_pro_livescan_dom.md
  docs/urlscan_pro_livescan_purge.md
  docs/urlscan_pro_livescan_result.md
  docs/urlscan_pro_livescan_scan.md
  docs/urlscan_pro_livescan_scanners.md
  docs/urlscan_pro_livescan_store.md
Due: lint, tidy, docs, test

fix: fix wrong short explanation
  cmd/pro/incident/get.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_incident.md
  docs/urlscan_pro_incident_get.md
Due: none

feat: check key presence
  cmd/root.go
  pkg/utils/client.go
Due: lint, tidy, docs, test

feat: add missing datasource option
  api/iterator.go
  cmd/search.go
  docs/urlscan_search.md
Due: lint, tidy, docs, test

Simplify error checking on response
  api/batch.go
Due: lint, tidy, test

Simplify error checking on response (#69)
  api/batch.go
Due: lint, tidy, test

feat: add missing datasource option (#68)
  api/iterator.go
  cmd/search.go
  docs/urlscan_search.md
Due: lint, tidy, docs, test

Fix incident get explanation (#66)
  cmd/pro/incident/get.go
  docs/urlscan_pro_incident.md
  docs/urlscan_pro_incident_get.md
Due: lint, tidy, docs, test

feat: add open command (#64)
  cmd/scan/open.go
  docs/urlscan_scan.md
  docs/urlscan_scan_open.md
  go.mod
  go.sum
Due: lint, tidy, docs, test

docs: add keyring guide for Linux (#62)
  README.md
  docs/troubleshooting.md
Due: none

refactor: rename live-scan to livescan (#65)
  cmd/pro/livescan/dom.go
  cmd/pro/livescan/purge.go
  cmd/pro/livescan/result.go
  cmd/pro/livescan/root.go
  cmd/pro/livescan/scan.go
  cmd/pro/livescan/scanners.go
  cmd/pro/livescan/store.go
  docs/urlscan_pro.md
  docs/urlscan_pro_live-scan.md
  docs/urlscan_pro_live-scan_purge.md
  docs/urlscan_pro_live-scan_result.md
  docs/urlscan_pro_live-scan_scanners.md
  docs/urlscan_pro_livescan.md
  docs/urlscan_pro_livescan_dom.md
  docs/urlscan_pro_livescan_purge.md
  docs/urlscan_pro_livescan_result.md
  docs/urlscan_pro_livescan_scan.md
  docs/urlscan_pro_livescan_scanners.md
  docs/urlscan_pro_livescan_store.md
Due: lint, tidy, docs, test

feat: check key presence (#67)
  cmd/root.go
  pkg/utils/client.go
Due: lint, tidy, docs, test

fix: remove meaningless double quotes
  .goreleaser.yaml
Due: none

Path conditions:
  lint: any of: *.go
  tidy: any of: {*.go,go.mod}
  docs: any of: cmd/*.go
  test: any of: *.go
