Repository urlscan/urlscan-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tidy, docs, test

lint:
  run: golangci-lint run --fix
  stage_fixed: true

tidy:
  run: go mod tidy
  stage_fixed: true

docs:
  run: 'rm docs/urlscan*.md
  
    go run docutil/main.go
  
    '
  stage_fixed: true

test:
  run: go test ./...

fix: use date command instead of hard-coding date value
  test/pro/datadump.bats
Due: none

feat: add --unpack option
  cmd/pro/datadump/download.go
  docs/urlscan_pro_datadump_download.md
  pkg/utils/unpack.go
  pkg/utils/unpack_test.go
Due: lint, tidy, docs, test

refactor: if isTar first
  pkg/utils/unpack.go
Due: lint, tidy, test

fix: handle close error correctly
  pkg/utils/unpack.go
Due: lint, tidy, test

refactor: disable compression in transport
  api/client.go
  cmd/pro/datadump/download.go
  pkg/utils/unpack.go
Due: lint, tidy, docs, test

fix: ignore zero blocks
  pkg/utils/unpack.go
  pkg/utils/unpack_test.go
Due: lint, tidy, test

refactor: rename unpack to extract
  cmd/pro/datadump/download.go
  docs/urlscan_pro_datadump_download.md
  pkg/utils/archive.go
  pkg/utils/archive_test.go
Due: lint, tidy, docs, test

refactor: use tarBlockSize
  pkg/utils/archive.go
Due: lint, tidy, test

refactor: add hours
  cmd/pro/datadump/download.go
  docs/urlscan_pro_datadump_download.md
Due: lint, tidy, docs, test

fix: add args check guard
  cmd/pro/datadump/list.go
Due: lint, tidy, docs, test

refactor: x for extract
  cmd/pro/datadump/download.go
  docs/urlscan_pro_datadump_download.md
Due: lint, tidy, docs, test

refactor: simplify file type check
  pkg/utils/archive.go
Due: lint, tidy, test

refactor: apply force option in extraction
  cmd/pro/datadump/download.go
  pkg/utils/archive.go
  pkg/utils/archive_test.go
  pkg/utils/client.go
  pkg/utils/mapper.go
Due: lint, tidy, docs, test

Update cmd/pro/datadump/download.go
  cmd/pro/datadump/download.go
Due: lint, tidy, docs, test

test: use 2 zero blocks
  pkg/utils/archive_test.go
Due: lint, tidy, test

fix: fix typo
  pkg/utils/archive.go
Due: lint, tidy, test

refactor: simplify concatenated tar processing
  pkg/utils/archive.go
Due: lint, tidy, test

refactor: remove path check protection
  pkg/utils/archive.go
Due: lint, tidy, test

Datadump (#99)
  api/client.go
  cmd/pro/datadump/download.go
  cmd/pro/datadump/list.go
  cmd/pro/datadump/root.go
  cmd/pro/root.go
  docs/urlscan_pro.md
  docs/urlscan_pro_datadump.md
  docs/urlscan_pro_datadump_download.md
  docs/urlscan_pro_datadump_list.md
  pkg/utils/archive.go
  pkg/utils/archive_test.go
  pkg/utils/client.go
  pkg/utils/mapper.go
  test/pro/datadump.bats
Due: lint, tidy, docs, test

fix: handle deferred error correctly
  api/download.go
  pkg/utils/archive.go
  pkg/utils/mapper.go
Due: lint, tidy, test

fix: handle deferred error correctly (#102)
  api/download.go
  pkg/utils/archive.go
  pkg/utils/mapper.go
Due: lint, tidy, test

refactor: struct for datadump list
  api/datadump.go
  api/utils.go
  cmd/pro/datadump/list.go
Due: lint, tidy, docs, test

feat: add -P option
  cmd/flags/common.go
  cmd/pro/datadump/download.go
  cmd/scan/bulk.go
  cmd/scan/dom.go
  cmd/scan/screenshot.go
  pkg/utils/archive.go
  pkg/utils/client.go
Due: lint, tidy, docs, test

feat: add --follow option
  cmd/pro/datadump/download.go
  go.mod
  go.sum
  pkg/utils/database.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_datadump_download.md
  docs/urlscan_scan_bulk-submit.md
  docs/urlscan_scan_dom.md
  docs/urlscan_scan_screenshot.md
Due: none

fix: set directory prefix
  pkg/utils/archive_test.go
Due: lint, tidy, test

test/refactor: add test for FindMissingPaths
  cmd/pro/datadump/download_test.go
  pkg/utils/database.go
Due: lint, tidy, docs, test

test/refactor: make download process testable
  cmd/pro/datadump/download.go
  cmd/pro/datadump/download_test.go
Due: lint, tidy, docs, test

fix: use HTTP(S)_PROXY
  cmd/root.go
Due: lint, tidy, docs, test

refactor: add collapse param
  api/iterator.go
  cmd/search.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_search.md
Due: none

fix: use HTTP(S)_PROXY (#104)
  cmd/root.go
Due: lint, tidy, docs, test

Collapse (#105)
  api/iterator.go
  cmd/search.go
  docs/urlscan_search.md
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_datadump_download.md
Due: none

fix: remove .tar.gz check
  cmd/pro/datadump/download.go
Due: lint, tidy, docs, test

refactor: add timestamp field
  api/datadump.go
Due: lint, tidy, test

refactor: check force option earlier
  cmd/pro/datadump/download.go
Due: lint, tidy, docs, test

Update pkg/utils/database.go
  pkg/utils/database.go
Due: lint, tidy, test

Path conditions:
  lint: any of: *.go
  tidy: any of: {*.go,go.mod}
  docs: any of: cmd/*.go
  test: any of: *.go
