Repository urlscan/urlscan-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tidy, docs, test

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.go"
      run: golangci-lint run --fix
      stage_fixed: true
    tidy:
      glob: "{*.go,go.mod}"
      run: go mod tidy
      stage_fixed: true
    docs:
      glob: "cmd/*.go"
      run: |
        rm docs/urlscan*.md
        go run docutil/main.go
      stage_fixed: true
    test:
      glob: "*.go"
      run: go test ./...

fix: rename func
  cmd/pro/datadump/download.go
  cmd/pro/datadump/download_test.go
Due: lint, tidy, docs, test

Update cmd/pro/datadump/download.go
  cmd/pro/datadump/download.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_datadump_download.md
Due: none

Add Follow Option (Data Dump Download) (#103)
  api/datadump.go
  api/utils.go
  cmd/flags/common.go
  cmd/pro/datadump/download.go
  cmd/pro/datadump/download_test.go
  cmd/pro/datadump/list.go
  cmd/scan/bulk.go
  cmd/scan/dom.go
  cmd/scan/screenshot.go
  docs/urlscan_pro_datadump_download.md
  docs/urlscan_scan_bulk-submit.md
  docs/urlscan_scan_dom.md
  docs/urlscan_scan_screenshot.md
  go.mod
  go.sum
  pkg/utils/archive.go
  pkg/utils/archive_test.go
  pkg/utils/client.go
  pkg/utils/database.go
Due: lint, tidy, docs, test

feat: allow date-less list & follow
  api/datadump.go
  api/datadump_test.go
  api/time.go
  api/time_test.go
  cmd/pro/datadump/download.go
  cmd/pro/datadump/download_test.go
  cmd/pro/datadump/list.go
  docs/urlscan_pro_datadump_download.md
  docs/urlscan_pro_datadump_list.md
Due: lint, tidy, docs, test

feat: allow date-less list & follow (#106)
  api/datadump.go
  api/datadump_test.go
  api/time.go
  api/time_test.go
  cmd/pro/datadump/download.go
  cmd/pro/datadump/download_test.go
  cmd/pro/datadump/list.go
  docs/urlscan_pro_datadump_download.md
  docs/urlscan_pro_datadump_list.md
Due: lint, tidy, docs, test

fix: set omitempty for status
  api/error.go
Due: lint, tidy, test

fix: set omitempty for status (#107)
  api/error.go
Due: lint, tidy, test

fix: prevent EOF error to happen
  cmd/pro/hostname.go
  cmd/pro/structure_search.go
Due: lint, tidy, docs, test

test: add annotation based usage test
  cmd/pro/channel/get.go
  cmd/pro/file.go
  cmd/pro/hostname.go
  cmd/pro/incident/close.go
  cmd/pro/incident/copy.go
  cmd/pro/incident/fork.go
  cmd/pro/incident/get.go
  cmd/pro/incident/restart.go
  cmd/pro/incident/states.go
  cmd/pro/search/delete.go
  cmd/pro/search/get.go
  cmd/pro/structure_search.go
  cmd/pro/subscription/delete.go
  cmd/root_test.go
  cmd/scan/dom.go
  cmd/scan/open.go
  cmd/scan/result.go
  cmd/scan/screenshot.go
  cmd/scan/submit.go
  cmd/search.go
Due: lint, tidy, docs, test

Prevent EOF error/non-friendly error to happen (#108)
  cmd/pro/channel/get.go
  cmd/pro/file.go
  cmd/pro/hostname.go
  cmd/pro/incident/close.go
  cmd/pro/incident/copy.go
  cmd/pro/incident/fork.go
  cmd/pro/incident/get.go
  cmd/pro/incident/restart.go
  cmd/pro/incident/states.go
  cmd/pro/search/delete.go
  cmd/pro/search/get.go
  cmd/pro/structure_search.go
  cmd/pro/subscription/delete.go
  cmd/root_test.go
  cmd/scan/dom.go
  cmd/scan/open.go
  cmd/scan/result.go
  cmd/scan/screenshot.go
  cmd/scan/submit.go
  cmd/search.go
Due: lint, tidy, docs, test

refactor: update subscription format
  api/subscription.go
  cmd/pro/subscription/common.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_subscription_create.md
  docs/urlscan_pro_subscription_update.md
Due: none

Update subscription format (#109)
  api/subscription.go
  cmd/pro/subscription/common.go
  docs/urlscan_pro_subscription_create.md
  docs/urlscan_pro_subscription_update.md
Due: lint, tidy, docs, test

fix: remove hostnames/ip
  cmd/pro/subscription/common.go
  docs/urlscan_pro_subscription_create.md
  docs/urlscan_pro_subscription_update.md
Due: lint, tidy, docs, test

fix: remove hostnames/ip (#110)
  cmd/pro/subscription/common.go
  docs/urlscan_pro_subscription_create.md
  docs/urlscan_pro_subscription_update.md
Due: lint, tidy, docs, test

feat: support response API endpoint
  cmd/scan/response.go
  pkg/utils/client.go
  pkg/utils/validator.go
  pkg/utils/validator_test.go
Due: lint, tidy, docs, test

fix: fix typo
  cmd/scan/response.go
Due: lint, tidy, docs, test

test: add test for response command
  test/scan.bats
Due: none

docs: sync docs
  docs/urlscan_scan.md
  docs/urlscan_scan_response.md
Due: none

Support Response API endpoint (#111)
  cmd/scan/response.go
  docs/urlscan_scan.md
  docs/urlscan_scan_response.md
  pkg/utils/client.go
  pkg/utils/validator.go
  pkg/utils/validator_test.go
  test/scan.bats
Due: lint, tidy, docs, test

refactor: apply SHA256 validation
  cmd/pro/file.go
Due: lint, tidy, docs, test

refactor: apply UUID validation
  cmd/pro/structure_search.go
Due: lint, tidy, docs, test

Apply validations (#112)
  cmd/pro/file.go
  cmd/pro/structure_search.go
Due: lint, tidy, docs, test

chore: update Go 1.26
  go.mod
  go.sum
Due: tidy

ci: update golangci-lint
  .github/workflows/lint.yml
Due: none

refactor: use errors.AsType[T]
  api/batch.go
  api/result.go
Due: lint, tidy, test

fix: apply gofumpt
  api/batch.go
Due: lint, tidy, test

Update Go (#113)
  .github/workflows/lint.yml
  api/batch.go
  api/result.go
  go.mod
  go.sum
Due: lint, tidy, test

ci: update actions
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat: add visibility commands
  api/result.go
  cmd/pro/root.go
  cmd/pro/visibility/reset.go
  cmd/pro/visibility/root.go
  cmd/pro/visibility/update.go
  test/pro/visibility.bats
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro.md
  docs/urlscan_pro_visibility.md
  docs/urlscan_pro_visibility_reset.md
  docs/urlscan_pro_visibility_update.md
Due: none

ci: update actions (#114)
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Update cmd/pro/visibility/update.go
  cmd/pro/visibility/update.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_visibility.md
  docs/urlscan_pro_visibility_update.md
Due: none

docs: sync docs
  docs/urlscan_pro_visibility_update.md
Due: none

Update cmd/pro/visibility/reset.go
  cmd/pro/visibility/reset.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_visibility.md
  docs/urlscan_pro_visibility_reset.md
Due: none

Add Visibility commands (#115)
  api/result.go
  cmd/pro/root.go
  cmd/pro/visibility/reset.go
  cmd/pro/visibility/root.go
  cmd/pro/visibility/update.go
  docs/urlscan_pro.md
  docs/urlscan_pro_visibility.md
  docs/urlscan_pro_visibility_reset.md
  docs/urlscan_pro_visibility_update.md
  test/pro/visibility.bats
Due: lint, tidy, docs, test
