Repository urlscan/urlscan-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tidy, docs, test

lint:
  run: golangci-lint run --fix
  stage_fixed: true

tidy:
  run: go mod tidy
  stage_fixed: true

docs:
  run: 'rm docs/urlscan*.md
  
    go run docutil/main.go
  
    '
  stage_fixed: true

test:
  run: go test ./...

fix: apply xattr workaround
  .goreleaser.yaml
Due: none

fix: apply xattr workaround (#72)
  .goreleaser.yaml
Due: none

fix: remove meaningless double quotes (#71)
  .goreleaser.yaml
Due: none

refactor: use make
  docs/dev.md
Due: none

docs: add notes on Gatekeeper and manual build
  README.md
Due: none

Update README.md
  README.md
Due: none

Update docs (#73)
  README.md
  docs/dev.md
Due: none

Fix host iterator segfault
  api/hostname.go
Due: lint, tidy, test

Fix host iterator segfault (#75)
  api/hostname.go
Due: lint, tidy, test

test: add test for hostname iterator
  api/hostname_test.go
Due: lint, tidy, test

test: add test for hostname iterator (#76)
  api/hostname_test.go
Due: lint, tidy, test

chore: add a note about bash-completion
  cmd/completion.go
  docs/urlscan_completion.md
Due: lint, tidy, docs, test

chore: add a note about bash-completion (#77)
  cmd/completion.go
  docs/urlscan_completion.md
Due: lint, tidy, docs, test

refactor: introduce exhaustruct
  .golangci.yml
  api/batch.go
  api/client.go
  api/client_test.go
  api/hostname.go
  api/incident.go
  api/iterator.go
  api/livescan.go
  api/request.go
  api/response.go
  api/scan.go
  api/search.go
  api/subscription.go
  api/utils_test.go
  cmd/pro/hostname.go
  cmd/scan/bulk.go
  pkg/utils/client.go
  pkg/utils/string_reader.go
Due: lint, tidy, docs, test

Update api/utils_test.go
  api/utils_test.go
Due: lint, tidy, test

refactor: introduce exhaustruct (#81)
  .golangci.yml
  api/batch.go
  api/client.go
  api/client_test.go
  api/hostname.go
  api/incident.go
  api/iterator.go
  api/livescan.go
  api/request.go
  api/response.go
  api/scan.go
  api/search.go
  api/subscription.go
  api/utils_test.go
  cmd/pro/hostname.go
  cmd/scan/bulk.go
  pkg/utils/client.go
  pkg/utils/string_reader.go
Due: lint, tidy, docs, test

chore: set issue template for bug report
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

chore: set issue template for bug report (#82)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

test: add integration test by Bats
  docs/dev.md
  test/quotas.bats
  test/search.bats
  test/setup_suite.bash
  test/test_helper.bash
  test/user.bats
  test/version.bats
Due: none

chore: enable formatters
  .golangci.yml
Due: none

fix: apply auto fix
  api/client.go
  api/error.go
  api/utils.go
  api/utils_test.go
  cmd/key.go
  cmd/pro/subscription/common.go
  pkg/utils/validator.go
Due: lint, tidy, docs, test

fix: use bats-core
  docs/dev.md
Due: none

Set formatters (#84)
  .golangci.yml
  api/client.go
  api/error.go
  api/utils.go
  api/utils_test.go
  cmd/key.go
  cmd/pro/subscription/common.go
  pkg/utils/validator.go
Due: lint, tidy, docs, test

refactor: change to use NPM packages
  docs/dev.md
  test/test_helper.bash
Due: none

test: add integration test by Bats (#83)
  docs/dev.md
  test/quotas.bats
  test/search.bats
  test/setup_suite.bash
  test/test_helper.bash
  test/user.bats
  test/version.bats
Due: none

chore: shell completion not supported on Windows, print error and exit
  cmd/completion.go
Due: lint, tidy, docs, test

refactor: remove inline nolint as much as possible
  api/client.go
  api/hostname.go
  api/iterator.go
  api/response.go
  api/scan.go
  test/pro/hostname.bats
Due: lint, tidy, test

refactor: remove inline nolint as much as possible (#87)
  api/client.go
  api/hostname.go
  api/iterator.go
  api/response.go
  api/scan.go
  test/pro/hostname.bats
Due: lint, tidy, test

feat: support PowerShell completion
  cmd/completion.go
  docs/urlscan_completion.md
Due: lint, tidy, docs, test

feat: support PowerShell completion (#88)
  cmd/completion.go
  docs/urlscan_completion.md
Due: lint, tidy, docs, test

feat: allow bulk-submitting IP and domain inputs
  cmd/scan/bulk.go
  pkg/utils/validator.go
  pkg/utils/validator_test.go
Due: lint, tidy, docs, test

feat: allow bulk-submitting IP and domain inputs (#89)
  cmd/scan/bulk.go
  pkg/utils/validator.go
  pkg/utils/validator_test.go
Due: lint, tidy, docs, test

fix: set --all
  test/search.bats
Due: none

fix: load test_helper correctly & use bigger size
  test/pro/hostname.bats
Due: none

test: expand Bats coverage
  test/pro/brand.bats
  test/pro/file.bats
  test/pro/incident.bats
  test/pro/livescan.bats
  test/pro/saved_search.bats
  test/pro/structure_search.bats
  test/pro/subscription.bats
Due: none

Path conditions:
  lint: any of: *.go
  tidy: any of: {*.go,go.mod}
  docs: any of: cmd/*.go
  test: any of: *.go
