Repository urlscan/urlscan-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tidy, docs, test

lint:
  run: golangci-lint run --fix
  stage_fixed: true

tidy:
  run: go mod tidy
  stage_fixed: true

docs:
  run: 'rm docs/urlscan*.md
  
    go run docutil/main.go
  
    '
  stage_fixed: true

test:
  run: go test ./...

ci: update golangci-lint
  .github/workflows/lint.yml
Due: none

Update linters (#141)
  .github/workflows/lint.yml
  .golangci.yml
  cmd/pro/brand/available.go
  cmd/scan/bulk.go
  pkg/utils/archive_test.go
Due: lint, tidy, docs, test

fix: fix typo
  pkg/utils/keyring.go
Due: lint, tidy, test

fix: fix typo (#142)
  pkg/utils/keyring.go
Due: lint, tidy, test

feat: support datasource in count
  cmd/flags/common.go
  cmd/search/count.go
  cmd/search/root.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_search_count.md
Due: none

feat: support datasource in count (#143)
  cmd/flags/common.go
  cmd/search/count.go
  cmd/search/root.go
  docs/urlscan_search_count.md
Due: lint, tidy, docs, test

api: escape error strings in batch result JSON
  api/batch.go
  api/batch_test.go
Due: lint, tidy, test

refactor: go 1.27 & json v2
  api/batch.go
  api/channel.go
  api/client_test.go
  api/datadump.go
  api/error.go
  api/hostname.go
  api/incident.go
  api/iterator.go
  api/livescan.go
  api/response.go
  api/result.go
  api/scan.go
  api/search.go
  api/subscription.go
  cmd/pro/hostname.go
  cmd/pro/structure_search.go
  cmd/scan/bulk.go
  cmd/search/fields.go
  cmd/search/root.go
  go.mod
  go.sum
  pkg/utils/client.go
  pkg/utils/search.go
  pkg/version/update.go
Due: lint, tidy, docs, test

refactor: add utility function for marshaling with indent
  cmd/pro/hostname.go
  cmd/pro/structure_search.go
  cmd/scan/bulk.go
  cmd/search/root.go
  pkg/utils/json.go
Due: lint, tidy, docs, test

chore: remove command for user agents
  cmd/scan/user_agents.go
  docs/urlscan_scan.md
Due: lint, tidy, docs, test

chore: remove command for user agents (#145)
  cmd/scan/user_agents.go
  docs/urlscan_scan.md
Due: lint, tidy, docs, test

refactor: add eval script & user agent (livescan)
  api/livescan.go
  cmd/pro/livescan/scan.go
Due: lint, tidy, docs, test

docs: sync docs
  docs/urlscan_pro_livescan_scan.md
Due: none

Add eval script & user agent for livescan arguments (#146)
  api/livescan.go
  cmd/pro/livescan/scan.go
  docs/urlscan_pro_livescan_scan.md
Due: lint, tidy, docs, test

refactor: don't unmarshal sort every time
  api/iterator.go
Due: lint, tidy, test

api: escape error strings in batch result JSON (#144)
  api/batch.go
  api/batch_test.go
Due: lint, tidy, test

Use Go 1.27 + json v2 (#147)
  api/batch.go
  api/channel.go
  api/client_test.go
  api/datadump.go
  api/error.go
  api/hostname.go
  api/incident.go
  api/iterator.go
  api/livescan.go
  api/response.go
  api/result.go
  api/scan.go
  api/search.go
  api/subscription.go
  cmd/pro/hostname.go
  cmd/pro/structure_search.go
  cmd/scan/bulk.go
  cmd/search/fields.go
  cmd/search/root.go
  go.mod
  go.sum
  pkg/utils/client.go
  pkg/utils/json.go
  pkg/utils/search.go
  pkg/version/update.go
Due: lint, tidy, docs, test

fix: fix broken bats test
  test/pro/incident.bats
  test/version.bats
Due: none

chore: remove deprecated homebrew cask postflight hook
  .goreleaser.yaml
Due: none

fix: fix broken bats test (#148)
  test/pro/incident.bats
  test/version.bats
Due: none

Path conditions:
  lint: any of: *.go
  tidy: any of: {*.go,go.mod}
  docs: any of: cmd/*.go
  test: any of: *.go
